body {
    margin: auto;
    max-width: 50em;
    font-family: 'Georgia', serif;
    background: whitesmoke;
}

.header {
    background: wheat;
    padding: 2em 1em;
}

.content {
    background: bisque;
    padding: 2em 1em;
}

.error {
    color: red;
}


/* li {
    display: inline-block;
    vertical-align: top;
} */