<!DOCTYPE html>
<link rel="stylesheet" href={{ url_for('static', filename="layout.css") }}>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Login</title>
<body>
    <div class="content">
    <form action="/login" method="POST">
        <p>Käyttäjännus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>

        <div class="error">
            {{ error }} <br>
        </div>
    
    <input type="submit" value="Kirjaudu">
    </form>
    <hr>
    <a href="/">Etusivu</a>
    </div>
</body>