<title>{{release}}</title>
<br>
<b>{{release}}</b>
<br> 

{% for release in releases %}
<a href="/artist/{{release.performer}}">{{release.performer}}</a>
{% endfor %}
<br> <br>
Raidat:
<hr>
{% for track in tracks %}
{{track.listing}}. {{track.name}}<br>
{% endfor %}
<br>
Henkilöstö:
<hr>
{% for person in personnel %}
<li> <a href="/contributor/{{person.name}}">{{person.name}}</a>: {{person.role}}
{% endfor %}
</li>
<hr>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form method="POST">
    Keskustele julkaisusta: <br>
    <textarea name="comment" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>

{% else %}
<p> <a href="/register"> Luo tunnus</a>  tai <a href="/login">kirjaudu sisään</a> kommentoidaksesi </p>
{% endif %}

{% for comment in comments %}

<b>{{comment.name}}</b> <br>
{{comment.comment}} <br>

{% endfor %}

<hr>

{% if session.username %}
<a href="/">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>

{% else %}
<a href="/">Etusivulle</a>
{% endif %}

