<title>{{release}}</title>
<br>
<b>{{release}}</b>
<br> 

{% for release in releases %}
<a href="/artist/{{release.performer}}">{{release.performer}}</a>
{% endfor %}
<br> <br>
Raidat:
<hr>
{% for track in tracks %}
{{track.listing}}. {{track.name}}<br>
{% endfor %}
<br>
Henkilöstö:
<hr>
{% for person in personnel %}
<li> <a href="/contributor/{{person.name}}">{{person.name}}</a>: {{person.role}}
{% endfor %}
</li>
<hr>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/register"> Luo tunnus</a>  tai <a href="/login">kirjaudu sisään</a> kommentoidaksesi

{% endif %}
    <hr>
<a href="/">Etusivulle</a>