{% extends "layout.html" %}
{% block title %}Release Page{% endblock %}

{% block content %}

<title>{{release}}</title>
<br>
<b>{{release}}</b> 
{% if average %}
    <i>({{ average }} &#9733;)</i>
    {% else %}
       <i>(Ei arvioita)</i>
{% endif %}  <br> 
{% if session.username %}
    {% if score %}
        Oma arviosi: {{ score }} &#9733; <br>
    {% endif %}
{% endif %}

{% for release in releases %}
<a href="/artist/{{release.performer}}">{{release.performer}}</a>
{% endfor %}
<br> <br>
Raidat:
<hr>
{% for track in tracks %}
{{track.listing}}. {{track.name}}<br>
{% endfor %}
<br>
Henkilöstö:
<hr>
{% for person in personnel %}
<li> <a href="/contributor/{{person.name}}">{{person.name}}</a>: {{person.role}}
{% endfor %}
</li>
<hr>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form method="POST">
    {% if score %}
    Olet antanut arvioksi {{ score }} &#9733; <br> <br>
    Arvioi uudelleen:
    {% else %}
    Jätä arvio:
    {% endif %}
    <select name="score" id="score">
        <option value="None">Ei arviota</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select> &#9733; <br>

    Keskustele julkaisusta: <br>
    <textarea name="comment" rows="6" cols="50"></textarea>
    <br>
    <div class="error">
        {{ error }} <br>
    </div>
    
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

{% else %}

Sinun täytyy olla kirjautunut kommentoidaksesi tai jättääksesi arvion.
<br> <br>
{% endif %}

{% for comment in comments %}

<b>{{comment.name}}</b> <br>
{{comment.comment}} <br> <br>

{% endfor %}

{% endblock %}